.DS_Store
jbb
main
*.zip
*.o
outDebug
launch.json
settings.json
c_cpp_properties.json
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.ps
*.toc
*-autopp-*
*.jpeg
*.jpg
*.lb
*.dvi
*.synctex.gz
*.synctex
*.synctex(busy)
*-checkpoint.ipynb
*-fig*.tex
*.mtc0
*.mtc
*.maf
*.png
*.ps
*.eps
*.jpg
*.jpeg
*.gif
*.tiff
*.mtc*
*.pyg
*.textClipping
*.ipynb
*.listing
*.py
*.graffle
*.bak*
*_latexindent_*
vc.tex
CoursMathsMPSI/29-CoursMPSI/*.tex
cours-derivation-fig1.tex
cours-derivation-fig2.tex
fiche.txt
tmp.inputs
_minted-*
Python-MPSI-Cours/09-Poly/cours-*.tex
Python-MPSI-Cours/09-Poly/exos-*.tex
Python-MPSI-Cours/09-Poly/tp-*.tex
CoursMathsMPSI/12-Structures/cours-structures_algebriques_BACKUP_1452.tex
CoursMathsMPSI/12-Structures/cours-structures_algebriques_BASE_1452.tex
CoursMathsMPSI/12-Structures/cours-structures_algebriques_LOCAL_1452.tex
CoursMathsMPSI/12-Structures/cours-structures_algebriques_REMOTE_1452.tex
